<div class="main-column">
  <header>
    <h1>Tasks Manager</h1>
    <a routerLink="add" id="add-task-icon" title="Add a new task ~">
      <fa-icon [icon]="faPlusCircle" size="2x"></fa-icon>
    </a>
  </header>

  <ng-container *ngIf="tasks.length > 0; else noTasks">
    <div *ngFor="let task of tasks" class="task-card">
      <h2 [ngClass]="{'completed' : task.isComplete}">
        {{ task.title }}
      </h2>
      <p *ngIf="task.description" [ngClass]="{'completed' : task.isComplete}">
        {{ task.description }}
      </p>
      <div class="task-card-actions">
        <a title="Complete this task ~" (click)="completeTask(task)">
          <fa-icon [icon]="faCheckCircle" size="2x" *ngIf="!task.isComplete; else dotCircle"></fa-icon>
          <ng-template #dotCircle>
            <fa-icon [icon]="faDotCircle" size="2x"></fa-icon>
          </ng-template>
        </a>
        <a title="Edit this task ~" [routerLink]="['edit', task.id]">
          <fa-icon [icon]="faInfoCircle" size="2x"></fa-icon>
        </a>
        <a title="Delete this task ~" (click)="deleteTask(task)">
          <fa-icon [icon]="faTimesCircle" size="2x"></fa-icon>
        </a>
      </div>
    </div>
  </ng-container>

  <ng-template #noTasks>
    <div class="task-card text-center">
      Whoah, so much empty! Why don't you try adding some tasks with the + icon in the top right corner?
    </div>
  </ng-template>
</div>
